name: Build and upload to Google Play

on:
  workflow_dispatch:
  push:
    # Paths that should affect the build in some way
    paths:
      - .github/workflows/test.yaml

env:
  DOCKER_BUILDKIT: 1

jobs:
  build_and_upload:
    name: Build and upload
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Test
        id: test
        run: |
          echo github.base_ref=${{ github.base_ref }}
          echo github.head_ref=${{ github.head_ref }}
          echo github.ref=${{ github.ref }}
          echo github.ref_name=${{ github.ref_name }}
          echo github.ref_type=${{ github.ref_type }}
          echo github.sha=${{ github.sha }}
          echo github.workspace=${{ github.workspace }}
          echo github.env=${{ github.env }}

          if [[ "${{ github.ref_type }}" == "tag" ]]; then
            # TODO: Get tag version number and update android/app/build.gradle
            echo "lane=android beta" >> $GITHUB_OUTPUT
          else
            echo "lane=android internal" >> $GITHUB_OUTPUT
          fi

      - name: Fastlane mock
        run: |
          echo "fastlane run ${LANE}"
        env:
          LANE: ${{ steps.test.outputs.lane }}
